{{> navbar }}
<a href="/admin/events">back</a>
<h1>{{event.name}} - [{{event.status}}]</h1>
<p>participants: {{event.participants}}</p>
<p>{{event.start}} - {{event.end}}</p>
<a href="/admin/events/{{event.slug}}/edit">Edit</a>
<button onclick="deleteEvent('{{event.id}}', '/admin/events')">Delete</button>
<div id="error-container"></div>
<ol>
    {{#each participants}}
    <li>
        <a href="/admin/events/{{../event.slug}}/participants/{{this.slug}}">{{this.name}}</a>
        <button onclick="deleteParticipant('{{../event.id}}', '{{this.id}}', '/admin/events/{{../event.slug}}')">delete</button>
        </li>
    {{/each}}
    {{#unless participants}}
    <p>No participants</p>
    {{/unless}}
</ol>

<a href="/admin/events/{{event.slug}}/participants/create">Add</a>

<script src="/admin/javascripts/event.js"></script>
<script src="/admin/javascripts/participant.js"></script>