
<div id="eventContainer">
    <p>{{event.name}}</p>
    <p>{{event.slug}}</p>
    <p>{{event.code}}</p>
    <p>{{event.description}}</p>
    <p>{{event.eventStart}}</p>
    <p>{{event.eventEnd}}</p>
</div>
