
<div id="eventContainer">

    <div id="event">
        <h1>{{event.name}}</h1>
    </div>
    <div class="btn-group mb-3" role="group">
        <a class="btn btn-warning" id="edit-event-btn" href="edit">Edit</a>
        <a class="btn btn-danger" id="delete-event-btn" href="#" data-event-id="{{event.id}}" data-event-name="{{event.name}}">Delete</a>
    </div> 
    <div id="error-container"></div>

    {{!-- list of participants --}}
    <div class="" style="border: 1px solid red;">
        <div class="row">
            <div class="col">
                <h1 class="text-center" style="border: 1px solid black;">Participants</h1>
                <ul id="participants-list" class="list-group mb-3" style="border: 1px solid green;">
                    {{#if participants}}
                        {{#each participants}}
                        <li class="list-group-item">
                            <div>
                                <a href="/events/{{../event.id}}/participants/{{this.id}}/">{{this.name}}</a>
                            </div>
                        </li>
                        {{/each}}
                    {{/if}}
                    {{#unless participants}}
                        <li class="list-group-item text-center">This event has no participants yet.</li>
                    {{/unless}}
                </ul>
                <a href="/events/{{event.id}}/participants/create" class="btn btn-secondary">Add</a>
            </div>
        </div> 
    </div>

</div>


<script src="/javascripts/event.js"></script>