<%- include('./partials/navbar'); %>
<a href="/events">back</a>

<div id="main-container" class="container my-5">

    <div class="row">
        
        <div class="col-lg">
            <div class="container p-0 d-flex align-items-center">
                <h1 class="text-success me-3"><%= event.name %></h1>
                <span class="badge bg-dark rounded-pill text-light fs-6"><%= event.status %></span>
            </div>
                <p><b>REGISTERED: </b><%= event.participants %></p>
            <p class="small"><b>START: </b><%= event.start %></p>
            <p class="small"><b>END: </b><%= event.end %></p>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam minima nisi et quia ipsa quo tempora delectus obcaecati. Est velit soluta voluptatem facilis eum aliquid nulla commodi odit dolorem consequatur!</p>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam minima nisi et quia ipsa quo tempora delectus obcaecati. Est velit soluta voluptatem facilis eum aliquid nulla commodi odit dolorem consequatur!</p>
        </div>

        <div class="col-lg">
            <div class="container w-75 border border-dark rounded-3 p-5" id="registrationForm">
        <% if (event.status === 'ended') { %>
            <h2 class="mb-4">Registration are now closed or this event has ended.</h2>
            <p class="small">Please checkout incoming events <a href="/events">here</a></p>
        <% } else { %>
                <h2 class="text-center">Register Now!</h2>
                <form action="/admin/events/<%= event.slug %>/participants/create" method="post">
                    <input type="hidden" name="event" value="<%= event.id ? event.id : form.event %>">

                    <label class="form-label" for="fieldName">Name</label>
                    <input class="form-control" id="fieldName" type="text" name="name" value="<%= typeof form !== 'undefined' ? form.name : '' %>">
                    <div id="emailHelp" class="form-text mb-3">This name will used in the certificate</div>

                    <label class="form-label" for="fieldAge">Age</label>
                    <input class="form-control mb-3" id="fieldAge" type="number" name="age" value="<%= typeof form !== 'undefined' ? form.age : '' %>">

                    <label class="form-label" for="fieldCourse">Course</label>
                    <input class="form-control mb-3" id="fieldCourse" type="text" name="course" value="<%= typeof form !== 'undefined' ? form.course : '' %>">

                    <label class="form-label" for="fieldInstitution">Institution</label>
                    <input class="form-control mb-3" id="fieldInstitution" type="text" name="institution" value="<%= typeof form !== 'undefined' ? form.institution : '' %>">

                    <input class="btn btn-outline-dark" type="submit" value="Register">
                </form>
            <% }; %>
            </div>
        </div>

    </div>

</div>
