<%- include('./partials/navbar'); %>
<a href="/">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="dark" class="bi bi-arrow-return-left mt-3 ms-3" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
    </svg>
</a>
<div class="container" id="mainContainer">

    <div class="container my-4 border rounded-3" id="upcomingEvents">
        <% if (upcomingEvents) { %>
            <h1 class="text-center">Upcoming Events</h1>
            <hr>
            <table class="table table-hover table-borderless">
                <thead>
                    <tr>
                        <th class="small">#</th>
                        <th class="small">Event</th>
                        <th class="small">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < upcomingEvents.length; ++i) { %>
                        <tr>
                            <th class="small"><%= i+1 %></th>
                            <td class="small"><a class="link-success" href="/events/<%=upcomingEvents[i].slug%>"><%= upcomingEvents[i].name %></a></td>
                            <td class="small"><%= upcomingEvents[i].start.toDateString() %> : <%= upcomingEvents[i].start.toLocaleTimeString() %></td>
                        </tr>
                    <% }; %>
                </tbody>
            </table>
        <% } else { %>
            <h3 class="text-center">There are no upcoming events</h3>
        <% } %>
    </div>
    

</div>
